#### Import database specific module 
Ex. import cx_Oracle

In [2]:
# importing module
import cx_Oracle

The GET_HOST_ADDRESS function returns the IP address of the specified host name.
##### SQL> SELECT UTL_INADDR.get_host_address('bart') FROM dual;

The IP address of the database server is returned if the specified host name is NULL or is omitted.
##### SQL> SELECT UTL_INADDR.get_host_address from dual;

__connect():__ Now Establish a connection between the Python program and Oracle database by using connect() function. 

**cursor():** To execute a SQL query and to provide results some special object is required that is nothing but cursor() object.

**commit():** For DML(Data Manipulation Language) queries that comprise operations like update, insert, delete. We need to commit() then only the result reflects in the database.

**close():** After all done it is mandatory to close all operations.
<br>__cursor.close()__
<br>__con.close()__

# 1. Creation of table

In [6]:
# Create a table in Oracle database
try:

    con = cx_Oracle.connect('abhishek/abhi123@192.168.1.212') #'username/password@localhost'
    print(con.version)

    # Now execute the sqlquery
    cursor = con.cursor()

    # Creating a table employee
    cursor.execute(
        "create table employee1(empid integer primary key, name varchar2(30), salary number(10, 2))")

    print("Table Created successfully")

except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)

# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

11.2.0.2.0
Table Created successfully

DDL statements don’t require to be committed. They are automatically committed.<br>
execute() method is used to execute an SQL statement.

# 2. Inserting a record into table using execute() method

In [7]:
# Inserting a record into a table in Oracle database
try:
    con = cx_Oracle.connect('abhishek/abhi123@192.168.1.212')
    cursor = con.cursor()
 
    #con.autocommit = True
    # Inserting a record into table employee
    cursor.execute('insert into employee1 values(10001,\'Rahul\',50000.50)')
 
    # commit() to make changes reflect in the database
    con.commit()
    print('Record inserted successfully')
 
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Record inserted successfully

Once we execute any DML statement it is required to commit the transaction.<br>
You can commit a transaction in 2 ways: –

__con.commit().__ This is used to commit a transaction manually.<br>
__con.autocommit = True.__ This is used to commit a transaction automatically.

# 3. Inserting multiple records into a table using executemany() method

In [8]:
# Load data from a csv file into Oracle table using executemany
try:
    con = cx_Oracle.connect('abhishek/abhi123@192.168.1.212')
 
except cx_Oracle.DatabaseError as er:
    print('There is an error in Oracle database:', er)
 
else:
    try:
        cur = con.cursor()
        data = [[10007, 'Vikram', 48000.0], [10008, 'Sunil', 65000.1], [10009, 'Sameer', 75000.0]]
 
        cur = con.cursor()
        # Inserting multiple records into employee table
        # (:1,:2,:3) are place holders. They pick data from a list supplied as argument
        cur.executemany('insert into employee1 values(:1,:2,:3)', data)
 
    except cx_Oracle.DatabaseError as er:
        print('There is an error in Oracle database:', er)
 
    except Exception as er:
        print(er)
 
    else:
        # To commit the transaction manually
        con.commit()
        print('Multiple records are inserted successfully')
 
finally:
    if cur:
        cur.close()
    if con:
        con.close()

Multiple records are inserted successfully

# 4. View result set from a select query using : <br>

# fetchall(), fetchmany(int), fetchone()

In [9]:
import cx_Oracle

try:
    con = cx_Oracle.connect('abhishek/abhi123@192.168.1.212')

except cx_Oracle.DatabaseError as er:
    print('There is an error in the Oracle database:', er)

else:
    try:
        cur = con.cursor()

        # fetchall() is used to fetch all records from result set
        cur.execute('select * from employee1')
        rows = cur.fetchall()
        print(rows)

        # fetchmany(int) is used to fetch limited number of records from result set based on integer argument passed in it
        cur.execute('select * from employee1')
        rows = cur.fetchmany(3)
        print(rows)

        # fetchone() is used fetch one record from top of the result set
        cur.execute('select * from employee1')
        rows = cur.fetchone()
        print(rows)

    except cx_Oracle.DatabaseError as er:
        print('There is an error in the Oracle database:', er)

    except Exception as er:
        print('Error:'+str(er))

    finally:
        if cur:
            cur.close()

finally:
    if con:
        con.close()

[(10001, 'Rahul', 50000.5), (10007, 'Vikram', 48000.0), (10008, 'Sunil', 65000.1), (10009, 'Sameer', 75000.0)]
[(10001, 'Rahul', 50000.5), (10007, 'Vikram', 48000.0), (10008, 'Sunil', 65000.1)]
(10001, 'Rahul', 50000.5)

# 5. View result set from a select query using bind variable

In [10]:
try:
    con = cx_Oracle.connect('abhishek/abhi123@192.168.1.212')
 
except cx_Oracle.DatabaseError as er:
    print('There is error in the Oracle database:', er)
 
else:
    try:
        cur = con.cursor()
         
        #here :sal is a bing variable which will be substituted with value of key of dictionary
        cur.execute('select * from employee1 where salary > :sal', {'sal': 50000})
        rows = cur.fetchall()
        print(rows)
 
    except cx_Oracle.DatabaseError as er:
        print('There is error in the Oracle database:', er)
 
    except Exception as er:
        print('Error:', er)
 
    finally:
        if cur:
            cur.close()
 
finally:
    if con:
        con.close()

[(10001, 'Rahul', 50000.5), (10008, 'Sunil', 65000.1), (10009, 'Sameer', 75000.0)]

In this case, we have passed a dictionary in execute() method. This dictionary contains the name of the bind variable as a key, <br>and it’s corresponding value. When the SQL query is executed, value from the key is substituted in place of bind variable.